{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.jsx"],
      "options": {
        "semi": false,
        "singleQuote": true,
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "arrowParens": "always"
      }
    }
  ]
}